@import "../abstracts/colors";

.app--main{
    transition: .3s ease-in-out;
    margin-left: 260px;
    &__item{
        padding: 0 16px;
        &__title{
            color: $title-color-green;
            font-size: 30px;
            padding: 10px 0;
        }
        &__cover{
            position: relative;
            overflow: hidden;
            height: 100%;
            &__image{
                object-fit: contain;
                width: 100%;
                margin-bottom: -6px;
            }
            &__label{
                color: white;
                background-color: black;
                padding: 0 16px;
                position: absolute;
                left: 0;
                bottom: 7px;
                &__content{
                    margin: 15px 0;
                }
            }
        }
    }
    &__slides {
      padding: 0 8px;
      margin: 10px 0;

      &__item {
          .slide-image {
              width: 100%;
              box-sizing: border-box;
              object-fit: contain;
              opacity: 0.6;
              &:hover{
                opacity: 1;
              }
          }
          .active-image{
            opacity: 1;
          }
      }
    }
    &__info{
       padding: 0 16px;
       &__title{
         font-size: 20px;
         font-weight: 600;
         padding: 10px 0;
       } 
       &__link{
          margin: 18px 0;
          font-size: 18px;
          i{
            font-size: 18px;
            width: 1.28571429em;
            text-align: center;
          }
       }
       .card,.subscribe{
        margin: 15px 0;
        &-links{
            color: black;
            i{
                font-size: 18px;
            }
       }
      
       }
       hr{
        @include hrStyle();
       }
    }
    hr{
        @include hrStyle();
    }
    &__contact{
        padding: 0 16px;
        &__info{
           &__title{
            font-size: 30px;
            padding: 10px 0;
           } 
           &__item{
            i{
                font-size: 14px;
                width: 30px;
            }
           }
           p{
            margin: 15px 0;
           }
        }
    }
}
@media only screen and (max-width: 992px) {
    .app--main{
        margin-left: 0;
        margin-top: 80px;
    }
    .app--sidebar{
        display: none;
    }
  }