@import "../abstracts/colors";

.app--main{
    margin-left: 260px;
    padding: 0 16px;
    &__slides{
        &__title{
            color: $title-color-green;
            font-size: 30px;
            padding: 10px 0;
        }
        &__cover{
            position: relative;
            overflow: hidden;
            height: 100%;
            &__image{
                object-fit: contain;
                width: 100%;
                margin-bottom: -6px;
            }
            &__label{
                color: white;
                background-color: black;
                padding: 0 16px;
                position: absolute;
                left: 0;
                bottom: 7px;
                &__content{
                    margin: 15px 0;
                }
            }
        }
    }
}