<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fav Icon Link Start -->
    <link rel="shortcut icon" href="../assets/media/favicon/coding-favicon.ico" type="image/x-icon">
    <!-- Fav Icon Link End -->

    <!-- Google Fonts CDN Start-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;1,500;1,600&family=Permanent+Marker&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- Google Fonts CDN End-->

    <!-- Font Awesome CDN Start -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Font Awesome CDN End -->

    <!-- Custom Style Start -->
    <link rel="stylesheet" href="../assets/style/css/main.css">
    <!-- Custom Style End -->

    <title>PYP Pre Task</title>
</head>

<body>
    <div class="container">
        <div class="app">
            <!-- Overlay Start -->
            <div class="app--overlay"></div>
            <!-- Overlay End -->

            <!-- SideBar/Menu Start -->
            <nav class="app--sidebar">
                <!-- Sidebar Form Start -->
                <div class="app--sidebar__content">
                    <i class="fa-solid fa-xmark close-sidebar"></i>
                    <h3>Rental</h3>
                    <h3>from $99</h3>
                    <h6>per night</h6>
                    <hr>
                    <form class="app-sidebar__content__form" action="" target="_blank">
                        <label for="checkIn"><i class="fa-regular fa-calendar-check"></i> Check In</label>
                        <input required type="text" placeholder="DD MM YYYY" id="checkIn" name="checkIn">
                        <label for="checkOut"><i class="fa-regular fa-calendar"></i> Check Out</label>
                        <input required type="text" placeholder="DD MM YYYY" id="checkOut" name="checkOut">
                        <label for="adult"><i class="fa-solid fa-person"></i> Adults</label>
                        <input required type="number" min="1" max="6" value="1" id="adult" name="adult">
                        <label for="kid"><i class="fa-solid fa-child-reaching"></i> Kids</label>
                        <input required type="number" min="1" max="6" value="0" id="kid" name="kid">
                        <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i> Search
                            availability</button>
                    </form>
                </div>
                <!-- Sidebar Form End -->

                <!-- Sidebar Links Start -->
                <div class="app--sidebar__links">
                    <a href="#">
                        <i class="fa-solid fa-building"></i> Apartment
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-rss"></i> Subscribe
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-envelope"></i> Contact
                    </a>
                </div>
                <!-- Sidebar Form End -->
            </nav>
            <!-- SideBar/Menu End -->

            <!-- Navbar Start  -->
            <header class="app--header">
                <span class="app--header__logo">Rental</span>
                <a class="app--header__hamburger" href="#">
                    <i class="fa-solid fa-bars"></i>
                </a>
            </header>
            <!-- Navbar End -->

            <!-- Main Content Start -->
            <main class="app--main">
                <!-- Cover Image Start -->
                <div class="app--main__item">
                    <h2 class="app--main__item__title">
                        The Apartment
                    </h2>
                    <div class="app--main__item__cover">
                        <img class="app--main__item__cover__image"
                            src="../assets/media/home/livingroom.jpg" alt="living room">
                        <div class="app--main__item__cover__label">
                            <p class="app--main__item__cover__label__content image-label">Living Room</p>
                        </div>
                    </div>
                </div>
                <!-- Cover Image End -->

                <!-- Room Images Start -->
                <div class="row app--main__slides">
                    <div class="col-3 app--main__slides__item">
                        <img class="slide-image active-image" data-label="Living Room"
                            src="../assets/media/home/livingroom.jpg" alt="slide 1">
                    </div>
                    <div class="col-3 app--main__slides__item">
                        <img class="slide-image non-active-image" data-label="Dining Room"
                            src="../assets/media/home/diningroom.jpg" alt="slide 2">
                    </div>
                    <div class="col-3 app--main__slides__item">
                        <img class="slide-image non-active-image" data-label="Bedroom"
                            src="../assets/media/home/bedroom.jpg" alt="slide 3">
                    </div>
                    <div class="col-3 app--main__slides__item">
                        <img class="slide-image non-active-image" data-label="Living Room II"
                            src="../assets/media/home/livingroom2.jpg" alt="slide 4">
                    </div>
                </div>
                <!-- Room Images End -->

                <!-- Info Section Start -->
                <div class="app--main__info">
                    <div class="space">
                        <h4 class="app--main__info__title">The space</h4>
                        <div class="row">
                            <div class="col-6">
                                <p class="app--main__info__link">
                                    <i class="fa-solid fa-person"></i> Max people: 4
                                </p>
                                <p class="app--main__info__link">
                                    <i class="fa-solid fa-bath"></i> Bathrooms: 2
                                </p>
                                <p class="app--main__info__link">
                                    <i class="fa-solid fa-bed"></i> Bedrooms: 1
                                </p>
                            </div>
                            <div class="col-6">
                                <p class="app--main__info__link">
                                    <i class="fa-regular fa-clock"></i> Check In: After 3PM
                                </p>
                                <p class="app--main__info__link">
                                    <i class="fa-regular fa-clock"></i> Check Out: 12PM
                                </p>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="amenities">
                        <h4 class="app--main__info__title">Amenities</h4>
                        <div class="row">
                            <div class="col-6">
                                <p class="app--main__info__link">
                                    <i class="fa-solid fa-shower"></i> Shower
                                </p>
                                <p class="app--main__info__link">
                                    <i class="fa-solid fa-wifi"></i> Wifi
                                </p>
                                <p class="app--main__info__link">
                                    <i class="fa-solid fa-tv"></i> TV
                                </p>
                            </div>
                            <div class="col-6">
                                <p class="app--main__info__link">
                                    <i class="fa-solid fa-utensils"></i> Kitchen
                                </p>
                                <p class="app--main__info__link">
                                    <i class="fa-solid fa-temperature-three-quarters"></i> Heating
                                </p>
                                <p class="app--main__info__link">
                                    <i class="fa-solid fa-wheelchair"></i> Accessible
                                </p>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="extra-info">
                        <h4 class="app--main__info__title">Extra Info</h4>
                        <p>Our apartment is really clean and we like to keep it that way. Enjoy the lorem ipsum dolor
                            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            aliquip ex ea commodo consequat. </p>
                        <p class="card">We accept:
                            <a class="card-links" href="#"><i class="fa-regular fa-credit-card"></i></a>
                            <a class="card-links" href="#"> <i class="fa-brands fa-cc-mastercard"></i></a>
                            <a class="card-links" href="#"><i class="fa-brands fa-cc-amex"></i></a>
                            <a class="card-links" href="#"><i class="fa-brands fa-cc-paypal"></i></a>
                        </p>
                        <hr>
                    </div>
                    <div class="rules">
                        <h4 class="app--main__info__title">Rules</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p class="subscribe">Subscribe to receive updates on available dates and special offers.</p>
                        <div class="col-4 col-md-12">
                            <button class="btn subscribe-btn" type="button">Subscribe</button>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- Info Section End -->

                <!-- Contact Section Start -->
                <div class="app--main__contact">
                    <div class="app--main__contact__info">
                        <h2 class="app--main__contact__info__title">Contact</h2>
                        <div class="app--main__contact__info__item">
                            <i class="fa-solid fa-location-dot"></i> <span>Chicago, US</span>
                        </div>
                        <div class="app--main__contact__info__item">
                            <i class="fa-solid fa-phone"></i> <span>Phone: +00 151515</span>
                        </div>
                        <div class="app--main__contact__info__item">
                            <i class="fa-solid fa-envelope"></i> <span>Email: mail@mail.com</span>
                        </div>
                        <p>Questions? Go ahead, ask them: </p>
                    </div>
                    <div class="app--main__contact_form">
                        <form action="">
                            <p>
                                <input type="text" placeholder="Name" name="name" required>
                            </p>
                            <p>
                                <input type="email" placeholder="Email" name="email" required>
                            </p>
                            <p>
                                <input type="text" placeholder="Message" name="message" required>
                            </p>
                           <div class="col-4 col-md-12">
                            <button class="btn send-message-btn" type="submit">Send a Message</button>
                           </div>
                        </form>
                    </div>
                </div>
                <!-- Contact Section End -->

            </main>
            <!-- Main Content End -->

            <!-- Footer Start -->
            <footer>
                Powered by <a href="https://www.linkedin.com/in/elnurxo/" target="_blank">elnurxo</a>
            </footer>
            <!-- Footer End -->

            <!-- Subscribe Modal Start -->
            <div class="app--modal">
                <div class="app--modal__item">
                    <i class="fa-solid fa-xmark remove"></i>
                    <h2 class="app--modal__item__title">Subscribe</h2>
                    <p>Join our mailing list to receive updates on available dates and special offers.</p>
                    <p><input type="email" placeholder="Enter e-mail"></p>
                    <button class="btn subscribe-modal-btn" type="button">Subscribe</button>
                </div>
            </div>
            <!-- Subscribe Modal End -->

        </div>
    </div>

    <script src="../assets/js/app.js"></script>
</body>

</html>