//text-colors
$btn-color-white: #fff;
$btn-color-hover-black: black;
$input-color-gray: #ccc;
$title-color-green: #4CAF50;
$footer-link-color: #4CAF50;

//background-colors
$btn-bgc-green: #4CAF50;
$btn-bgc-hover-gray: #ccc;
$sidebar-bgc: #f1f1f1;

//border-colors
$form-input-border: #ccc;
$container-border: #ccc;

//overlay rgb color
$bg-overlay: rgba(0,0,0,0.5);