@import "../abstracts/colors";

.btn{
    color: $btn-color-white;
    background-color: $btn-bgc-green;
    padding: 8px 16px;
    border: none;
    transition: .1s linear;
    text-align: left;
    i{
        margin-right: 16px;
    }
    &:hover{
        color: $btn-color-hover-black;
        background-color: $btn-bgc-hover-gray;
    }
}
.search-btn{
    margin: 15px 0;
    width: 100%;
}
.subscribe-btn{
    text-align: center;
    width: 100%;
}
.send-message-btn{
    text-align: center;
    width: 100%;
}
.subscribe-modal-btn{
    padding: 12px 24px;
    margin-bottom: 16px;
}