* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, label, input, a, button, span, footer {
  font-family: "Raleway";
  font-weight: 400;
}

.btn {
  color: #fff;
  background-color: #4CAF50;
  padding: 8px 16px;
  border: none;
  width: 100%;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  text-align: left;
}
.btn i {
  margin-right: 16px;
}
.btn:hover {
  color: black;
  background-color: #ccc;
}

.search-btn {
  margin: 15px 0;
}

.subscribe-btn {
  text-align: center;
}

.send-message-btn {
  text-align: center;
}

.app--sidebar {
  width: 260px;
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  height: 100%;
  overflow-y: scroll;
}
.app--sidebar__content {
  padding: 16px;
}
.app--sidebar__content h3, .app--sidebar__content h6 {
  margin: 10px 0;
}
.app--sidebar__content h3 {
  font-size: 24px;
}
.app--sidebar__content h6 {
  font-size: 16px;
}
.app--sidebar__content hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}
.app--sidebar__links a {
  width: 100%;
  padding: 16px;
  border: none;
  outline: none;
  display: block;
  color: black;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}
.app--sidebar__links a:hover {
  color: black;
  background-color: #ccc;
}

.app-sidebar__content__form label {
  display: block;
  margin: 15px 0;
}
.app-sidebar__content__form input {
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
}

.app--main__contact_form form p {
  margin: 15px 0;
}
.app--main__contact_form form input {
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-3 {
  width: 24.99999%;
  padding: 0 8px;
}

.col-4 {
  width: 33.33333%;
}

.col-6 {
  width: 49.99999%;
}

.col-12 {
  width: 100%;
}

footer {
  margin-left: 260px;
  margin-top: 32px;
  padding: 16px;
}
footer a {
  text-decoration: underline;
  color: black;
}
footer a:hover {
  color: #4CAF50;
}

.app--main {
  margin-left: 260px;
}
.app--main__item {
  padding: 0 16px;
}
.app--main__item__title {
  color: #4CAF50;
  font-size: 30px;
  padding: 10px 0;
}
.app--main__item__cover {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.app--main__item__cover__image {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  margin-bottom: -6px;
}
.app--main__item__cover__label {
  color: white;
  background-color: black;
  padding: 0 16px;
  position: absolute;
  left: 0;
  bottom: 7px;
}
.app--main__item__cover__label__content {
  margin: 15px 0;
}
.app--main__slides {
  padding: 0 8px;
  margin: 10px 0;
}
.app--main__slides__item .slide-image {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.6;
}
.app--main__slides__item .slide-image:hover {
  opacity: 1;
}
.app--main__slides__item .active-image {
  opacity: 1;
}
.app--main__info {
  padding: 0 16px;
}
.app--main__info__title {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0;
}
.app--main__info__link {
  margin: 18px 0;
  font-size: 18px;
}
.app--main__info__link i {
  font-size: 18px;
  width: 1.28571429em;
  text-align: center;
}
.app--main__info .card, .app--main__info .subscribe {
  margin: 15px 0;
}
.app--main__info .card-links, .app--main__info .subscribe-links {
  color: black;
}
.app--main__info .card-links i, .app--main__info .subscribe-links i {
  font-size: 18px;
}
.app--main__info hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}
.app--main hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}
.app--main__contact {
  padding: 0 16px;
}
.app--main__contact__info__title {
  font-size: 30px;
  padding: 10px 0;
}
.app--main__contact__info__item i {
  font-size: 14px;
  width: 30px;
}
.app--main__contact__info p {
  margin: 15px 0;
}
/*# sourceMappingURL=main.css.map */